body {
  margin: 25rem;
}
@font-face {
  font-family: "Cursed Timer ULiL";
  src: url(CursedTimerUlil-Aznm.ttf);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b244a;
  color: #fff;
  height: 385px;
  width: 575px;
}

h3 {
  font-size: 40px;
  font-family: verdana;
  font-weight: 700;
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

.home-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-button {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px dashed #9aabd8;
  color: #fff;
  border-radius: 5px;
  font-family: "Verdana";
  color: #9aabd8;
  cursor: pointer;
}

.guest-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-box {
  background-color: black;
  width: 155px;
  height: 120px;
  font-family: "Cursed Timer UliL";
  color: #f94f6d;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.score-modifiers {
  display: flex;
  gap: 9px;
}

.modifier-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #9aabd8;
  width: 45px;
  height: 45px;
  font-family: "Cursed Timer UliL";
  color: #9aabd8;
  background: none;
  cursor: pointer;
}
